*{                                        /* universal */
    box-sizing: border-box;               /* padding, border are included in width, height */
    overscroll-behavior: none;
}

body {
    font-family: Arial;
    text-align: center;
}

hr {
    width: 80%;
}

#board {
    width: 70%;                            /* normally it is 70% of the screen */
    max-width: 70vh;                       /* 70% of the viewport height */
    aspect-ratio: 1;                       /* height = width */
    background-color: #cdc1b5;
    border: 0.3em solid #bbada0;
    margin: 0 auto;                        /* top,buttom = 0 , left,right = auto = center */
    display: flex;
    flex-wrap: wrap;
    position: relative;                    /* set this to relative so that the "gameover" can be absolute to this container */
    container-type: inline-size;           /* so that the font-size can use cqw */
}

#gameover {
    font-weight: bold;
    font-size: 15cqw;
    z-index: 1;                             /* so that it goes on top of the board */
    position: absolute;                     /*  Set to absolute so it can overlap  */   
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);   /*  slightly adjust it according to the size of the word  */
    margin: 0;
    white-space: nowrap;
}

.tile {
    border: 0.15em solid #bbada0;
    font-weight: bold;
    display: flex;  
    justify-content: center;
    align-items: center;
}

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8{
    background-color: #f4b17a;
    color: white;
}

.x16{
    background-color: #f59575;
    color: white;
}

.x32{
    background-color: #f57c5f;
    color: white;
}

.x64{
    background-color: #f65d3b;
    color: white;
}

.x128{
    background-color: #edce71;
    color: white;
}

.x256{
    background-color: #edcc63;
    color: white;
}

.x512{
    background-color: #edc651;
    color: white;
}

.x1024{
    background-color: #eec744;
    color: white;
}

.x2048{
    background-color: #ecc230;
    color: white;
}

.x4096{
    background-color: #fe3d3d;
    color: white;
}

.x8192{
    background-color: #ff2020;
    color: white;
}